<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet" th:href="@{/css/wmstyles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/datatables/css/dataTables.bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/datatables/js/dataTables.min.js}"></script>
    <title>Bootstrap Example</title>


</head>

<body>
<div class="container  container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <div th:replace="~{fragments/header :: header}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div th:replace="~{fragments/navbar :: mynavbar}"></div>
        </div>
    </div>

    <div class="row col-lg-12 body-style">
        <div class="row">
            <div class="col-lg-12 mt-16 mb-6">
<!--                <h3>Dividend details</h3>-->
                <table id="dividendTable" class="table table-bordered table-responsive" style="width: 100%">
                    <thead>
                    <tr>
                        <th>Year</th>
                        <th>Quarter</th>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Year</th>
                        <th>Quarter</th>
                        <th>Symbol</th>
                        <th>Name</th>
                        <th>Amount</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>


    <div class="row  justify-content-center">
        <div class="col-lg-12">
            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>


    <script>

        $('#dividendTable').DataTable({
            "processing": true,
            "serverSide": false,
            "ajax": {
                "url": "/rest/dividendDetails",
                "type": "POST",
                "dataType": "json",
                "contentType": "application/json",
                "data": function (d) {
                    return JSON.stringify(d);
                }
            },
            "columns": [
                {"data":"dividendYear", "width": "10%"},
                {"data": "quarter","width": "10%"},
                {"data": "symbol", "width": "20%"},
                {"data": "name", "width": "50%"},
                {"data": "amount", "width": "10%"}
            ]
        });

    </script>
</div>
</body>
</html>