<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <link rel="stylesheet" th:href="@{/css/wmstyles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script  th:src="@{/js/manage-stock-universe.js}"></script>

    <title>Bootstrap Example</title>
</head>

<body>
<div class="container  container-fluid">

    <div class="row">
        <div class="col-lg-12">
            <div th:replace="~{fragments/header :: header}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div th:replace="~{fragments/navbar :: mynavbar}"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 body-style">

            <form id="stockUniverseForm" method="post" th:object="${formModel}"
                  th:action="@{/markets/updateStockUniverse}">
                <input type="hidden" id="isUniverseDropdownChange" name="isUniverseDropdownChange" value=""/>
                <input type="hidden" id="deleteRequest" name="deleteRequest" value=""/>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">
                            <input type="radio" name="submitType" th:value="create"
                                   th:checked="${'create' == selectedSubmitType}"/>
                            <label th:text="create">create</label>
                        </th>
                        <th scope="col">CreateStockUniverse</th>
                        <th scope="col">
                            <input class="form-control mr-sm-2" type="text" placeholder="" aria-label=""
                                   name="newUniverseName">
                        </th>
                        <th scope="col">
                            <input type="radio" name="submitType" th:value="update"
                                   th:checked="${'update' == selectedSubmitType}"/>
                            <label th:text="update">update</label>
                        </th>
                        <th scope="col">UpdateStockUniverse</th>
                        <th scope="col">
                            <select id="selectedUniverseName" name="selectedUniverseName" class="form-select"
                                    aria-label="Default select example" onchange="updateAndSubmit()">
                                <option value="">Select Universe</option>
                                <option th:each="universeName : ${universeNames}"
                                        th:value="${universeName}"
                                        th:text="${universeName}"
                                        th:selected="${universeName.equals(selectedUniverseName)}">
                                </option>
                            </select>
                        </th>
                        <th scope="col">
                            <button class="btn btn-sm btn-outline-success float-right" type="submit">
                                Submit
                            </button>
                        </th>
                        <th scope="col">
                            <button class="btn btn-sm btn-outline-success float-right" onclick="updateAndDelete()">
                                Delete
                            </button>
                        </th>
                    </tr>
                    </thead>
                    <tr>
                        <td colspan="3">
                            <span th:text="${message}"/>
                        </td>
                    </tr>
                </table>

                <div>Stocks</div>
                <div style="height:300px;overflow-y: scroll;">
                    <table class="table">
                        <tr th:each="equityPartition : ${equityPartitions}">
                            <td th:each="equity : ${equityPartition}">
                                <input type="checkbox" name="selectedEquities" th:value="${equity.key}"
                                       th:checked="${equitySet.contains(equity.key)}"/>
                                <label th:text="${equity.name}"></label>
                            </td>
                        </tr>
                    </table>
                </div>

                <div>Indices</div>
                <div style="height:130px;overflow-y: scroll;">
                    <table class="table">
                        <tr th:each="indexPartition : ${indexPartitions}">
                            <td th:each="index : ${indexPartition}">
                                <input type="checkbox" name="selectedIndices" th:value="${index.id}"/>
                                <label th:text="${index.name}"></label>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>


        </div>
    </div>
    <div class="row  justify-content-center">
        <div class="col-lg-12">
            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>


</div>
</body>
</html>